let
    // Retrieve server and warehouse values from JSON
    server = "xs48132.eu-west-2.aws.snowflakecomputing.com",
    warehouse = "POWER_BI_GENERAL",

    // Define additional options
    options = [
        LogLevel = 6,
        LogPath = "C:\\temp"
    ],
    config = [
        roleName = null,                            // Optional role name
        commandTimeout = null,                      // Optional command timeout
        connectionTimeout = null,                   // Optional connection timeout
        includeRelationshipColumns = null,          // Optional include relationship columns
        database = null,                            // Optional database
        options = options                           // Additional options
    ],

    // Call Snowflake.Database with sourced parameters
    result = Arbor.Database(
        server,
        warehouse,
        config
    )
in
    result
